$fancy-font: 'Agbalumo', sans-serif;
$bgcolor: #232f3e;
$bgOffset: #526070;

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Helvetica', sans-serif;
}

.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.hidden {
    display: none;
}

.loadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 48rem) {
    .loadingScreen {
    }
}
